.title-top {
  margin-top: 90px;
}

.card-header {
  background-color: black;
}

.regi-view {
  margin-left: auto;
  margin-right: auto;
}

.cardbody {
  padding: 3px;
}

.favbutt {
  text-decoration-style: bold;
  color: red;
}
