$color: rgb(255, 255, 255);

* {
  background-color: rgb(0, 0, 0);
  color: $color;
}

.movie-view {
  margin-top: 100px;
}

.cardbody {
  padding: 1px;
}

.image {
  width: auto;
  padding: 2px;
}

h1 {
  text-decoration: underline;
}

.favbutton {
  margin-top: 10px;
}
